.buildpath
.project
.settings
*~
cake_toolbar*
error.log
debug.log

# Cake TMP Dirs
/webapp/app/tmp/*
!/webapp/app/tmp/

/webapp/app/tmp/cache/*
!/webapp/app/tmp/cache/
!/webapp/app/tmp/cache/empty

/webapp/app/tmp/cache/models/*
!/webapp/app/tmp/cache/models/
!/webapp/app/tmp/cache/models/empty

/webapp/app/tmp/cache/persistent/*
!/webapp/app/tmp/cache/persistent/
!/webapp/app/tmp/cache/persistent/empty

/webapp/app/tmp/cache/views/*
!/webapp/app/tmp/cache/views/
!/webapp/app/tmp/cache/views/empty

/webapp/app/tmp/logs/*
!/webapp/app/tmp/logs/
!/webapp/app/tmp/logs/empty

/webapp/app/tmp/sessions/*
!/webapp/app/tmp/sessions/
!/webapp/app/tmp/sessions/empty

/webapp/app/tmp/tests/*
!/webapp/app/tmp/tests/
!/webapp/app/tmp/tests/empty

/webapp/app/webroot/cache_css/*
!/webapp/app/tmp/cache_css/
!/webapp/app/tmp/cache_css/empty

/webapp/app/webroot/cache_js/*
!/webapp/app/tmp/cache_js/
!/webapp/app/tmp/cache_js/empty
