[submodule "submodules/cake2"]
	path = submodules/cake2
	url = git://github.com/cakephp/cakephp.git
[submodule "submodules/jquery-form"]
	path = submodules/jquery-form
	url = git://github.com/malsup/form.git
[submodule "submodules/debug-kit"]
	path = submodules/debug-kit
	url = git://github.com/cakephp/debug_kit.git
[submodule "submodules/asset-compress"]
	path = submodules/asset-compress
	url = git://github.com/markstory/asset_compress.git
[submodule "submodules/aws-sdk-for-php"]
	path = submodules/aws-sdk-for-php
	url = git://github.com/amazonwebservices/aws-sdk-for-php.git
[submodule "submodules/cakephp-ViewMemcache"]
	path = submodules/cakephp-ViewMemcache
	url = git://github.com/rynop/cakephp-ViewMemcache.git
