/* style.css (42%) */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
nav ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:none;}
a{font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0;}
ins{background-color:#ff9;color:#000;text-decoration:none;}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:700;}
del{text-decoration:line-through;}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help;}
table{border-collapse:collapse;border-spacing:0;font-size:inherit;font:100%;}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}
input,select{vertical-align:middle;}
body{font:13px/1.231 sans-serif;font-size:small;}
select,input,textarea,button{font:99% sans-serif;}
pre,code,kbd,samp{font-family:monospace, sans-serif;}
body,select,input,textarea{color:#444;}
html{-webkit-font-smoothing:antialiased;overflow-y:scroll;}
a:hover,a:active{outline:none;}
a,a:active,a:visited{color:#607890;}
a:hover{color:#036;}
ul,ol{margin-left:1.8em;}
ol{list-style-type:decimal;}
small{font-size:85%;}
td,td img{vertical-align:top;}
sub{vertical-align:sub;font-size:smaller;}
sup{vertical-align:super;font-size:smaller;}
pre{white-space:pre-line;word-wrap:break-word;padding:15px;}
input[type=checkbox]{vertical-align:bottom;}
.ie7 input[type=checkbox]{vertical-align:baseline;}
label,input[type=button],input[type=submit],button{cursor:pointer;}
input:invalid{border-radius:1px;-moz-box-shadow:0 0 5px red;-webkit-box-shadow:0 0 5px red;box-shadow:0 0 5px red;}
.no-boxshadow input:invalid{background-color:#f0dddd;}
a:link{-webkit-tap-highlight-color:#FF5E99;}
button{width:auto;overflow:visible;}
.ie7 img{-ms-interpolation-mode:bicubic;}
.ir{display:block;text-indent:-999em;overflow:hidden;background-repeat:no-repeat;text-align:left;direction:ltr;}
.hidden{display:none;visibility:hidden;}
.visuallyhidden{position:absolute!important;clip:rect(1px,1px,1px,1px);}
.invisible{visibility:hidden;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{zoom:1;}
h1,h2,h3,h4,h5,h6,strong,th{font-weight:700;}
input[type=radio],.ie6 input{vertical-align:text-bottom;}
::-moz-selection,::selection{background:#FF5E99;color:#fff;text-shadow:none;}
@media print {
*{background:transparent!important;color:#444!important;text-shadow:none!important;}
a,a:visited{color:#444!important;text-decoration:underline;}
a:after{content:" (" attr(href) ")";}
abbr:after{content:" (" attr(title) ")";}
.ir a:after{content:"";}
pre,blockquote{border:1px solid #999;page-break-inside:avoid;}
img{page-break-inside:avoid;}
@page{margin:.5cm;}
p,h2,h3{orphans:3;widows:3;}
h2,h3{page-break-after:avoid;}
}

/* cake.generic.css (73%) */
body{background:#003d4c;color:#fff;font-family:'lucida grande',verdana,helvetica,arial,sans-serif;font-size:90%;margin:0;}
a{color:#003d4c;text-decoration:underline;font-weight:700;}
a:hover{color:#367889;text-decoration:none;}
a img{border:none;}
h1,h2,h3,h4{font-weight:400;margin-bottom:.5em;}
h1{background:#fff;color:#003d4c;font-size:100%;}
h2{background:#fff;color:#e32;font-family:'Gill Sans','lucida grande', helvetica, arial, sans-serif;font-size:190%;}
h3{color:#993;font-family:'Gill Sans','lucida grande', helvetica, arial, sans-serif;font-size:165%;}
h4{color:#993;font-weight:400;}
ul,li{margin:0 12px;}
#container{text-align:left;}
#header{padding:10px 20px;}
#header h1{line-height:20px;background:#003d4c url(../img/cake.icon.png) no-repeat left;color:#fff;padding:0 30px;}
#header h1 a{color:#fff;background:#003d4c;font-weight:400;text-decoration:none;}
#header h1 a:hover{color:#fff;background:#003d4c;text-decoration:underline;}
#content{background:#fff;clear:both;color:#333;overflow:auto;padding:10px 20px 40px;}
#footer{clear:both;text-align:right;padding:6px 10px;}
div.form,div.index,div.view{float:right;width:76%;border-left:1px solid #666;padding:10px 2%;}
div.actions{float:left;width:16%;padding:10px 1.5%;}
div.actions h3{padding-top:0;color:#777;}
table{background:#fff;border-right:0;clear:both;color:#333;margin-bottom:10px;width:100%;}
th{border:0;border-bottom:2px solid #555;text-align:left;padding:4px;}
th a{display:block;text-decoration:none;padding:2px 4px;}
th a.asc:after{content:' ⇣';}
th a.desc:after{content:' ⇡';}
table tr td{background:#fff;text-align:left;vertical-align:top;border-bottom:1px solid #ddd;padding:6px;}
td.actions{text-align:center;white-space:nowrap;}
table td.actions a{margin:0 6px;padding:2px 5px;}
.cake-sql-log td{text-align:left;font-family:Monaco, Consolas, "Courier New", monospaced;padding:4px 8px;}
.cake-sql-log caption{color:#fff;}
div.paging{background:#fff;color:#ccc;margin-top:1em;clear:both;}
div.paging span.disabled{color:#ddd;display:inline;}
div.paging span.current{color:#c73e14;}
dl{line-height:2em;width:60%;margin:0;}
dt{font-weight:700;padding-left:4px;vertical-align:top;}
dd{margin-left:10em;margin-top:-2em;vertical-align:top;}
form{clear:both;margin-right:20px;width:95%;padding:0;}
fieldset{border:1px solid #ccc;margin-bottom:1em;padding:16px 20px;}
fieldset legend{background:#fff;color:#e32;font-size:160%;font-weight:700;}
fieldset fieldset{margin-top:0;margin-bottom:20px;padding:16px 10px;}
fieldset fieldset legend{font-size:120%;font-weight:400;}
fieldset fieldset div{clear:left;margin:0 20px;}
form div{clear:both;margin-bottom:1em;vertical-align:text-top;padding:.5em;}
form .input{color:#444;}
form .required{font-weight:700;}
form .required label:after{color:#e32;content:'*';display:inline;}
form div.submit{border:0;clear:both;margin-top:10px;}
label{display:block;font-size:110%;margin-bottom:3px;}
input,textarea{clear:both;font-size:140%;font-family:"frutiger linotype", "lucida grande", verdana, sans-serif;width:98%;padding:1%;}
select{clear:both;font-size:120%;vertical-align:text-bottom;}
select[multiple=multiple]{width:100%;}
option{font-size:120%;padding:0 3px;}
input[type=checkbox]{clear:left;float:left;width:auto;margin:0 6px 7px 2px;}
div.checkbox label{display:inline;}
input[type=radio]{float:left;width:auto;margin:0 3px 7px 0;}
div.radio label{margin:0 0 6px 20px;}
input[type=submit]{display:inline;font-size:110%;width:auto;}
form .submit input[type=submit]{background:0 to(#62af56));background-image:0;color:#000;text-shadow:#8cee7c 0 1px 0;border-color:#2d6324;}
form .submit input[type=submit]:hover{background:0 to(#4ca83d));background-image:0;}
div.message{clear:both;color:#fff;font-size:140%;font-weight:700;background:#c73e14;margin:0 0 1em;padding:5px;}
div.error-message{clear:both;color:#fff;font-weight:700;background:#c73e14;}
p.error{background-color:#e32;color:#fff;font-family:Courier, monospace;font-size:120%;line-height:140%;margin:1em 0;padding:.8em;}
p.error em{color:#000;font-weight:400;line-height:140%;}
.notice{background:#fc0;color:#000;display:block;font-family:Courier, monospace;font-size:120%;line-height:140%;margin:1em 0;padding:.8em;}
.success{background:green;color:#fff;}
div.actions li{list-style-type:none;white-space:nowrap;margin:0 0 .5em;padding:0;}
div.actions ul li a{font-weight:400;display:block;clear:both;}
div.actions ul li a:hover{text-decoration:underline;}
input[type=submit],div.actions ul li a,td.actions a{font-weight:400;background:0 to(#e6e49f));background-image:0;color:#333;border:1px solid #aaac62;-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;text-decoration:none;text-shadow:#fff 0 1px 0;min-width:0;padding:4px 8px;}
input[type=submit]:hover,div.actions ul li a:hover,td.actions a:hover{background:0 to(#eeeca9));}
div.related{clear:both;display:block;}
pre{color:#000;background:#f0f0f0;padding:1em;}
pre.cake-debug{background:#fc0;font-size:120%;line-height:140%;margin-top:1em;overflow:auto;position:relative;}
div.cake-stack-trace{background:#fff;color:#333;font-size:120%;line-height:140%;overflow:auto;position:relative;margin:0;padding:6px;}
div.cake-code-dump pre{position:relative;overflow:auto;}
div.cake-stack-trace pre,div.cake-code-dump pre{color:#000;background-color:#F0F0F0;overflow:auto;margin:0;padding:1em;}
div.cake-code-dump pre,div.cake-code-dump pre code{clear:both;font-size:12px;line-height:15px;overflow:auto;margin:4px 2px;padding:4px;}
div.cake-code-dump span.code-highlight{background-color:#ff0;padding:4px;}
div.code-coverage-results div.code-line{padding-left:5px;display:block;margin-left:10px;}
div.code-coverage-results div.uncovered span.content{background:#ecc;}
div.code-coverage-results div.covered span.content{background:#cec;}
div.code-coverage-results div.ignored span.content{color:#aaa;}
div.code-coverage-results span.line-num{color:#666;display:block;float:left;width:20px;text-align:right;margin-right:5px;}
div.code-coverage-results span.line-num strong{color:#666;}
div.code-coverage-results div.start{border:1px solid #aaa;margin-top:30px;padding-top:5px;border-width:1px 1px 0;}
div.code-coverage-results div.end{border:1px solid #aaa;margin-bottom:30px;padding-bottom:5px;border-width:0 1px 1px;}
div.code-coverage-results div.realstart{margin-top:0;}
div.code-coverage-results p.note{color:#bbb;font-size:10px;margin:5px 0 10px;padding:5px;}
div.code-coverage-results span.result-bad{color:#a00;}
div.code-coverage-results span.result-ok{color:#fa0;}
div.code-coverage-results span.result-good{color:#0a0;}
*,div.actions ul{margin:0;padding:0;}
table tr:nth-child(2n) td,table .altrow td{background:#f5f5f5;}
.cake-sql-log table,dl .altrow{background:#f4f4f4;}

/* custom.css (76%) */
a{color:orange;}