body {
	padding-top: 60px;
}

.icon-white {
  background-image: url("/img/glyphicons-halflings-white.png");
}
[class^="icon-"], [class*=" icon-"] {
  background-image: url("/img/glyphicons-halflings.png");
}